{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/Logo - 2.svg' %}" type="image/x-icon">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <title>Project Manager</title>
</head>
<body>
    <header>
        <img id="logo-header" src="{% static 'images/Logo Horizontal - 2.svg' %}" alt="Logo Horizontal">
        <nav>
            <ul class="nav_links">
                <li><a href = "{% url 'index' %}">Início</a></li>
                <li><a href="#">Política de Privacidade</a></li>
                <li><a href="#">Suporte</a></li>
            </ul>
        </nav>
        <a class=login href="{% url 'login' %}"><button id="button-1">Entrar</button></a>

    </header>
    <main class="login-main">
        <div class = "box_centro">
            <form action = "{% url 'cadastro' %}" method = "POST">
                {% csrf_token %}
                <h1 class="text-login">Cadastrar-se</h1>
                <input type="text" placeholder="Usuário" class = "input-login" name = "username">
                <input type="text" placeholder="E-mail" class = "input-login" name = "email">
                <input type="password" placeholder="Senha" class = "input-login" name = "senha">
                <input type="submit" id = "button-3" value = "cadastrar">
            </form>
        </div>
    </main>

    <footer>
        <img id="logo-footer" src="{% static 'images/Logo Nome - 5.svg' %}" alt="logo">
        <div id="linha-vertical"></div>
        <a id="credits">©Project Manager - 2022</a>
    </footer>
</body>
</html>